nav {
    background-color: #16A085;
}

.first-section {
    margin: 20px 0;
}

.bw {
    filter: gray;
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .4s ease-in-out; 
}

.bw:hover {
    filter:none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
}

.fa-linkedin-square, .fa-codepen, .fa-github {
    font-size:1.25em;
}

.parallax-container {
    height: 400px;
}

.parallax-text-section {
    margin: 150px 0 0 0;
}

.parallax-text {
    color: #fff;
    text-shadow: #000 2px 2px 5px; 
}

.second-p {
    height: 300px;
}

  /* Mobile Styles */
@media (max-width: 768px) {
    .parallax-container {
       height: 250px;
    }
    .parallax-text-section {
        margin: 0;
    }
}

@media (max-width: 370px) {
    .parallax-text {
        font-size: 3.5rem;
    }
}